<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title><%= title %></title>
    </head>
    <body>
        <!-- HEADER -->
        <header class="l-header">
            <nav class="nav bd-grid">
                <a href="#" class="nav__logo">Kobe Land</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#" class="nav__link">الرئيسية</a></li>
                        <li class="nav__item"><a href="#l-section" class="nav__link">من نحن</a></li>
                    </ul>
                </div>

                <div class="nav__actions">
                    <div class="nav__toggle" id="nav-toggle">
                        <img src="assets/icons/bx-chevron-down.svg" alt="">
                    </div>
                    <a href="#" class="nav__btn">حجز طلب</a>
                </div>
            </nav>
        </header>

        <!-- HOME -->
        <main class="l-main bd-grid">
            <section class="home">
                <div class="home__data">
                    <h1 class="home__title">Kobe Land</h1>
                    <p class="home__description">متجر كوبي لاند متخصص بكافة مطبوعات العظم عاج.</p>
                </div>
    
                <div class="home__img">
                    <!-- IMG -->
                    <img src="assets/img/logo.jpeg" alt="" class="airpod1">
                    
                </div>
    
                <div class="home__scroll">
                    <span class="home__scroll-text">Scroll down for more</span>
                    <a href="#l-section"><img src="assets/icons/bx-mouse.svg" alt="" class="home__scroll-icon"></a>
                </div>
            </section>

            <!-- DETAILS AIRPODS -->
            <section class="l-section" id="l-section">
                <div class="details">
                    <div class="details__content">
                        <div class="details__box">
                            <h3 class="details__title">إستنساخ باجات عظم عاج</h3>
                            
                        </div>
                        
                        <div class="details__box">
                            <h3 class="details__title">لا نتعامل</h3>
                            <p class="details__description">بالتعديل<br> أو <br> التغيير <br> أو <br> الأضافة</p>
                        </div>
                        
                        <div class="details__box">
                            <h3 class="details__title">حافظ على باجك الاصلي</h3>
                        </div>
                    </div>

                    <div class="details__img">
                        <img src="assets/img/OIP.jpg" alt="" class="airpods">
                    </div>
                </div>
            </section>
        </main>

        <!-- GSAP -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

        <!-- TIMELINE MAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>

        <!-- SCROLLMAGIC -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>
        
        <!-- MAIN -->
        <script src="assets/js/main.js"></script>
    </body>
</html>